# Postgres
POSTGRES_USER=aasec
POSTGRES_PASSWORD=aasec_pw
POSTGRES_DB=aasec
POSTGRES_PORT=5432

# Neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=aasec_neo4j_pw
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687

# App
BACKEND_PORT=8000
FRONTEND_PORT=5173
